### Numbers

In [1]:
my_number=12345

In [2]:
type(my_number)

int

In [4]:
my_float=3.14
print (type(my_float))
print(my_float)

<class 'float'>
3.14

In [5]:
15 + 5

20

In [6]:
14 - 3

11

In [7]:
3 - 0.4

2.6

In [8]:
15.0 + 2

17.0

In [9]:
6 / 7

0.8571428571428571

In [10]:
6 // 5

1

In [11]:
6 // 7

0

In [12]:
9 % 5

4

In [13]:
9/5

1.8

### Another way to look at modulo

In [15]:
whole_part= int(5/3)
decimal_part =5/3 -whole_part
print(decimal_part)

0.6666666666666667

In [17]:
whole_remainder = decimal_part *3
print(whole_remainder)

2.0

#### veri tipi değişimleri

In [18]:
int(3.35)

3

In [19]:
float(5)

5.0

#### kayan sayıları en yakına  yuvarlama parametre olarak kaç basamak istendiği girilmeli

In [20]:
round(3.1415,2)

3.14

In [21]:
round(3.9999,2)

4.0

In [22]:
0.1 * 3

0.30000000000000004

In [23]:
from decimal import Decimal

In [25]:
Decimal('0.1') * 3

Decimal('0.3')

In [76]:
import random
random.randint(0,99)

36

### Strings

In [78]:
my_string = '"mt text is important"'
print(my_string)

"mt text is important"

In [79]:
long_string =''' 
###
text
example
'''
print(long_string)

###
text
example

In [81]:
my_number=42
my_number=str(my_number)
print(type(my_number))

<class 'str'>

In [86]:
print(my_string)
print(my_string[4])

"mt text is important"
t

In [88]:
len(my_string[2])

1

### Slice <str>[ <star>:stop:<step> ]

In [90]:
my_string[1:4]

'mt '

In [91]:
my_string[:4]

'"mt '

In [92]:
my_string[1:]

'mt text is important"'

##### hızlı bir şekilde diini terisine çevirme

In [93]:
my_string[::-1]

'"tnatropmi si txet tm"'

In [94]:
my_string.split()

['"mt', 'text', 'is', 'important"']

In [95]:
my_string.split(',')

['"mt text is important"']

In [96]:
animals =["cat","dog","horse"]

In [98]:
", ".join(animals)

'cat, dog, horse'

In [99]:
for item in my_string:
    print(item)

"
m
t

t
e
x
t

i
s

i
m
p
o
r
t
a
n
t
"

### fstrings

In [100]:
name="İrem"
age=22
print(f"My name is {name} and my age is {age}.")

My name is İrem and my age is 22.

In [101]:
import datetime

In [102]:
today = datetime.datetime.today()
print(today)

2023-11-26 13:45:16.314329

In [104]:
print(f"{today: %d %B %Y}")

 26 November 2023

## Boolean

In [105]:
bool(1)

True

In [106]:
bool(0)

False

In [109]:
my_variable=0
if my_variable:
    print("yes it is true")
else:
    print("no it is false")

no it is false

In [108]:
my_variable is True

False