In [7]:
base_url = '../data-science/data/covid/'
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
infected_data_frame = pd.read_csv(infected_dataset_url) #url yi oku ve dataframe objesine ata
print(infected_data_frame.head())

  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0
2            NaN        Algeria  28.0339   1.6596        0        0        0
3            NaN        Andorra  42.5063   1.5218        0        0        0
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
0        0        0        0  ...   19551   20342   20917   21459    22142
1        0        0        0  ...    1232    1246    1263    1299     1341
2        0        0        0  ...   10050   10154   10265   10382    10484
3        0        0        0  ...     852     852     852     852      852
4        0        0        0  ...      88      91      92      96      113

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0    22890    23546    24102    24766    25527
1     1385     1416     1464     1521     1590
2    10589    10698    10810    10919    11031
3      852      853      853      853      853
4      118      130      138      140      142

[5 rows x 150 columns]

In [10]:
infected_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [39]:
infected_data_frame.iloc[9,12]

4

In [ ]:
# infected_data_frame.columns
# infected_data_frame.info
# infected_data_frame.describe()
# infected_data_frame.size
# infected_data_frame.shape
# infected_data_frame.dtypes
# infected_data_frame.values
# infected_data_frame.index

In [13]:
infected_data_frame.shape #matrix satır sütun sayısını verir

(266, 150)

In [44]:
infected_data_frame.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
6/11/20             int64
6/12/20             int64
6/13/20             int64
6/14/20             int64
6/15/20             int64
Length: 150, dtype: object

In [14]:
infected_data_frame

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [11]:
infected_data_frame.describe() #tanımlayıcı istatistikler

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,21.148043,22.538640,2.086466,2.458647,3.537594,5.390977,7.962406,11.003759,20.969925,23.180451,...,2.594981e+04,2.637496e+04,2.676449e+04,2.722817e+04,2.773058e+04,2.825084e+04,2.873782e+04,2.924391e+04,2.974596e+04,3.020474e+04
std,24.909990,70.466256,27.279200,27.377862,34.083035,47.434934,66.289178,89.313757,219.187744,220.524977,...,1.333309e+05,1.349130e+05,1.363934e+05,1.382464e+05,1.402889e+05,1.424252e+05,1.445871e+05,1.467117e+05,1.484660e+05,1.502466e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.907750,-18.093125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.572500e+02,1.572500e+02,1.572500e+02,1.580000e+02,1.625000e+02,1.650000e+02,1.710000e+02,1.722500e+02,1.760000e+02,1.760000e+02
50%,23.488100,20.972650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.535000e+02,9.710000e+02,9.820000e+02,9.825000e+02,9.825000e+02,9.830000e+02,1.005000e+03,1.005000e+03,1.005000e+03,1.005000e+03
75%,41.143200,77.191525,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.094500e+03,7.117250e+03,7.427000e+03,7.706750e+03,8.005750e+03,8.194000e+03,8.334500e+03,8.452500e+03,8.586500e+03,8.608750e+03
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,1.926538e+06,1.944309e+06,1.961781e+06,1.979868e+06,2.000702e+06,2.023590e+06,2.048986e+06,2.074526e+06,2.094058e+06,2.114026e+06

##### 2.Veriseti

In [45]:
recovered_data_frame = pd.read_csv(recovered_dataset_url) #url yi oku ve dataframe objesine ata
print(recovered_data_frame.head())

  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0
2            NaN        Algeria  28.0339   1.6596        0        0        0
3            NaN        Andorra  42.5063   1.5218        0        0        0
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
0        0        0        0  ...    1830    1875    2171    2651     3013
1        0        0        0  ...     925     938     945     960      980
2        0        0        0  ...    6631    6717    6799    6951     7074
3        0        0        0  ...     741     744     751     757      759
4        0        0        0  ...      24      24      38      38       40

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0     3326     3928     4201     4725     5164
1     1001     1034     1039     1044     1055
2     7255     7322     7420     7606     7735
3      780      781      781      781      789
4       41       42       61       61       64

[5 rows x 150 columns]

In [22]:
recovered_data_frame['Long']>70

0      False
1      False
2      False
3      False
4      False
       ...
248    False
249    False
250    False
251     True
252    False
Name: Long, Length: 253, dtype: bool

In [25]:
recovered_data_frame.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
252,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [46]:
grouped= recovered_data_frame.groupby('Country/Region')

In [48]:
# Grupları gözlemleme
for name, group in grouped:
    print(f"Group: {name}")
    print(group)
    print()

Group: Afghanistan
  Province/State Country/Region   Lat  Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0  65.0        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
0        0        0        0  ...    1830    1875    2171    2651     3013

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0     3326     3928     4201     4725     5164

[1 rows x 150 columns]

Group: Albania
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
1            NaN        Albania  41.1533  20.1683        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
1        0        0        0  ...     925     938     945     960      980

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
1     1001     1034     1039     1044     1055

[1 rows x 150 columns]

Group: Algeria
  Province/State Country/Region      Lat    Long  1/22/20  1/23/20  1/24/20  \
2            NaN        Algeria  28.0339  1.6596        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
2        0        0        0  ...    6631    6717    6799    6951     7074

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
2     7255     7322     7420     7606     7735

[1 rows x 150 columns]

Group: Andorra
  Province/State Country/Region      Lat    Long  1/22/20  1/23/20  1/24/20  \
3            NaN        Andorra  42.5063  1.5218        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
3        0        0        0  ...     741     744     751     757      759

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
3      780      781      781      781      789

[1 rows x 150 columns]

Group: Angola
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
4        0        0        0  ...      24      24      38      38       40

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
4       41       42       61       61       64

[1 rows x 150 columns]

Group: Antigua and Barbuda
  Province/State       Country/Region      Lat     Long  1/22/20  1/23/20  \
5            NaN  Antigua and Barbuda  17.0608 -61.7964        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  \
5        0        0        0        0  ...      20      20      20      20

   6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
5       20       20       20       20       20       20

[1 rows x 150 columns]

Group: Argentina
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
6            NaN      Argentina -38.4161 -63.6167        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
6        0        0        0  ...    6180    6909    7305    7568     7991

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
6     8332     8743     9083     9564     9891

[1 rows x 150 columns]

Group: Armenia
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
7            NaN        Armenia  40.0691  45.0382        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
7        0        0        0  ...    3720    4014    4099    4451     5226

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
7     5466     5639     6081     6214     6276

[1 rows x 150 columns]

Group: Australia
                  Province/State Country/Region      Lat      Long  1/22/20  \
8   Australian Capital Territory      Australia -35.4735  149.0124        0
9                New South Wales      Australia -33.8688  151.2093        0
10            Northern Territory      Australia -12.4634  130.8456        0
11                    Queensland      Australia -28.0167  153.4000        0
12               South Australia      Australia -34.9285  138.6007        0
13                      Tasmania      Australia -41.4545  145.9707        0
14                      Victoria      Australia -37.8136  144.9631        0
15             Western Australia      Australia -31.9505  115.8605        0

    1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  \
8         0        0        0        0        0  ...     104     104     104
9         0        0        0        0        0  ...    2723    2724    2729
10        0        0        0        0        0  ...      29      29      29
11        0        0        0        0        0  ...    1050    1050    1051
12        0        0        0        0        0  ...     436     436     436
13        0        0        0        0        0  ...     209     209     209
14        0        0        0        0        0  ...    1593    1595    1602
15        0        0        0        0        0  ...     559     559     560

    6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
8      104      104      104      104      104      104      104
9     2735     2738     2743     2763     2766     2766     2768
10      29       29       29       29       29       29       29
11    1051     1051     1051     1051     1051     1051     1051
12     436      436      436      436      436      436      436
13     209      209      212      213      213      213      213
14    1616     1621     1632     1632     1657     1661     1664
15     560      571      575      575      582      591      591

[8 rows x 150 columns]

Group: Austria
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
16            NaN        Austria  47.5162  14.5501        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
16        0        0        0  ...   15789   15793   15839   15875    15910

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
16    15949    15985    16012    16059    16066

[1 rows x 150 columns]

Group: Azerbaijan
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
17            NaN     Azerbaijan  40.1431  47.5769        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
17        0        0        0  ...    4024    4149    4377    4606     4720

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
17     4930     5116     5309     5583     5739

[1 rows x 150 columns]

Group: Bahamas
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
18            NaN        Bahamas  25.0343 -77.3963        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
18        0        0        0  ...      62      62      64      64       67

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
18       68       68       68       68       68

[1 rows x 150 columns]

Group: Bahrain
   Province/State Country/Region      Lat   Long  1/22/20  1/23/20  1/24/20  \
19            NaN        Bahrain  26.0275  50.55        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
19        0        0        0  ...    9056    9468   10326   10606    11109

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
19    11487    11903    12191    12818    13267

[1 rows x 150 columns]

Group: Bangladesh
   Province/State Country/Region     Lat     Long  1/22/20  1/23/20  1/24/20  \
20            NaN     Bangladesh  23.685  90.3563        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
20        0        0        0  ...   13325   13903   14560   15337    15900

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
20    16747    17249    17828    18730    18731

[1 rows x 150 columns]

Group: Barbados
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
21            NaN       Barbados  13.1939 -59.5432        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
21        0        0        0  ...      81      81      81      81       83

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
21       83       83       83       83       83

[1 rows x 150 columns]

Group: Belarus
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
22            NaN        Belarus  53.7098  27.9534        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
22        0        0        0  ...   23015   23647   23880   24506    25667

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
22    26643    27760    29111    30103    30420

[1 rows x 150 columns]

Group: Belgium
   Province/State Country/Region      Lat  Long  1/22/20  1/23/20  1/24/20  \
23            NaN        Belgium  50.8333   4.0        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
23        0        0        0  ...   16190   16291   16315   16324    16392

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
23    16453    16498    16547    16589    16610

[1 rows x 150 columns]

Group: Belize
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
24            NaN         Belize  13.1939 -59.5432        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
24        0        0        0  ...      16      16      16      16       16

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
24       16       16       16       16       16

[1 rows x 150 columns]

Group: Benin
   Province/State Country/Region     Lat    Long  1/22/20  1/23/20  1/24/20  \
25            NaN          Benin  9.3077  2.3158        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
25        0        0        0  ...     151     151     186     188      188

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
25      188      217      222      228      232

[1 rows x 150 columns]

Group: Bhutan
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
26            NaN         Bhutan  27.5142  90.4336        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
26        0        0        0  ...      11      11      14      17       18

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
26       19       19       21       21       22

[1 rows x 150 columns]

Group: Bolivia
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
27            NaN        Bolivia -16.2902 -63.5887        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
27        0        0        0  ...    1902    2086    2159    2190     2261

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
27     2372     2431     2768     3113     3430

[1 rows x 150 columns]

Group: Bosnia and Herzegovina
   Province/State          Country/Region      Lat     Long  1/22/20  1/23/20  \
28            NaN  Bosnia and Herzegovina  43.9159  17.6791        0        0

    1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  \
28        0        0        0        0  ...    1968    1968    2023    2049

    6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
28     2063     2100     2119     2119     2119     2162

[1 rows x 150 columns]

Group: Botswana
    Province/State Country/Region      Lat     Long  1/22/20  1/23/20  \
239            NaN       Botswana -22.3285  24.6849        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  \
239        0        0        0        0  ...      23      23      24      24

     6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
239       24       24       24       24       24       24

[1 rows x 150 columns]

Group: Brazil
   Province/State Country/Region     Lat     Long  1/22/20  1/23/20  1/24/20  \
29            NaN         Brazil -14.235 -51.9253        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
29        0        0        0  ...  277149  283952  378257  396737   413916

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
29   429965   445123   459436   469141   477709

[1 rows x 150 columns]

Group: Brunei
   Province/State Country/Region     Lat      Long  1/22/20  1/23/20  1/24/20  \
30            NaN         Brunei  4.5353  114.7277        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
30        0        0        0  ...     138     138     138     138      138

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
30      138      138      138      138      138

[1 rows x 150 columns]

Group: Bulgaria
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
31            NaN       Bulgaria  42.7339  25.4858        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
31        0        0        0  ...    1545    1548    1587    1623     1664

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
31     1688     1716     1723     1730     1784

[1 rows x 150 columns]

Group: Burkina Faso
   Province/State Country/Region      Lat    Long  1/22/20  1/23/20  1/24/20  \
32            NaN   Burkina Faso  12.2383 -1.5616        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
32        0        0        0  ...     765     765     765     765      765

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
32      790      791      799      799      804

[1 rows x 150 columns]

Group: Burma
    Province/State Country/Region      Lat    Long  1/22/20  1/23/20  1/24/20  \
234            NaN          Burma  21.9162  95.956        0        0        0

     1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
234        0        0        0  ...     156     156     159     159      165

     6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
234      165      165      167      167      175

[1 rows x 150 columns]

Group: Burundi
    Province/State Country/Region     Lat     Long  1/22/20  1/23/20  1/24/20  \
240            NaN        Burundi -3.3731  29.9189        0        0        0

     1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
240        0        0        0  ...      45      45      45      45       45

     6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
240       45       45       45       45       45

[1 rows x 150 columns]

Group: Cabo Verde
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
33            NaN     Cabo Verde  16.5388 -23.0418        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
33        0        0        0  ...     240     240     266     270      294

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
33      294      294      294      301      340

[1 rows x 150 columns]

Group: Cambodia
   Province/State Country/Region    Lat      Long  1/22/20  1/23/20  1/24/20  \
34            NaN       Cambodia  11.55  104.9167        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
34        0        0        0  ...     123     123     123     125      125

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
34      125      125      125      125      125

[1 rows x 150 columns]

Group: Cameroon
   Province/State Country/Region    Lat     Long  1/22/20  1/23/20  1/24/20  \
35            NaN       Cameroon  3.848  11.5021        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
35        0        0        0  ...    4587    4735    4748    4794     4836

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
35     4836     4836     4836     4836     5570

[1 rows x 150 columns]

Group: Canada
   Province/State Country/Region      Lat      Long  1/22/20  1/23/20  \
36            NaN         Canada  56.1304 -106.3468        0        0

    1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  \
36        0        0        0        0  ...   54087   54675   55343   56117

    6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
36    57215    58131    59034    59851    60668    61466

[1 rows x 150 columns]

Group: Central African Republic
   Province/State            Country/Region     Lat     Long  1/22/20  \
37            NaN  Central African Republic  6.6111  20.9394        0

    1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  \
37        0        0        0        0        0  ...      37      38      38

    6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
37      38       38       38      360      363      363      369

[1 rows x 150 columns]

Group: Chad
   Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
38            NaN           Chad  15.4542  18.7322        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
38        0        0        0  ...     672     672     685     706      706

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
38      706      711      718      720      720

[1 rows x 150 columns]

Group: Chile
   Province/State Country/Region      Lat    Long  1/22/20  1/23/20  1/24/20  \
39            NaN          Chile -35.6751 -71.543        0        0        0

    1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
39        0        0        0  ...  103817  108150  112248  117361   121780

    6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
39   126444   131358   137296   143704   148792

[1 rows x 150 columns]

Group: China
    Province/State Country/Region      Lat      Long  1/22/20  1/23/20  \
40           Anhui          China  31.8257  117.2264        0        0
41         Beijing          China  40.1824  116.4142        0        0
42       Chongqing          China  30.0572  107.8740        0        0
43          Fujian          China  26.0789  117.9874        0        0
44           Gansu          China  37.8099  101.0583        0        0
45       Guangdong          China  23.3417  113.4244        0        2
46         Guangxi          China  23.8298  108.7881        0        0
47         Guizhou          China  26.8154  106.8748        0        0
48          Hainan          China  19.1959  109.7453        0        0
49           Hebei          China  39.5490  116.1306        0        0
50    Heilongjiang          China  47.8620  127.7615        0        0
51           Henan          China  33.8820  113.6140        0        0
52       Hong Kong          China  22.3000  114.2000        0        0
53           Hubei          China  30.9756  112.2707       28       28
54           Hunan          China  27.6104  111.7088        0        0
55  Inner Mongolia          China  44.0935  113.9448        0        0
56         Jiangsu          China  32.9711  119.4550        0        0
57         Jiangxi          China  27.6140  115.7221        0        0
58           Jilin          China  43.6661  126.1923        0        0
59        Liaoning          China  41.2956  122.6085        0        0
60           Macau          China  22.1667  113.5500        0        0
61         Ningxia          China  37.2692  106.1655        0        0
62         Qinghai          China  35.7452   95.9956        0        0
63         Shaanxi          China  35.1917  108.8701        0        0
64        Shandong          China  36.3427  118.1498        0        0
65        Shanghai          China  31.2020  121.4491        0        0
66          Shanxi          China  37.5777  112.2922        0        0
67         Sichuan          China  30.6171  102.7103        0        0

In [49]:
deaths_data_frame = pd.read_csv(deaths_dataset_url) #url yi oku ve dataframe objesine oluşturma
print(deaths_data_frame.head())

  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0
2            NaN        Algeria  28.0339   1.6596        0        0        0
3            NaN        Andorra  42.5063   1.5218        0        0        0
4            NaN         Angola -11.2027  17.8739        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
0        0        0        0  ...     327     357     369     384      405
1        0        0        0  ...      34      34      34      34       34
2        0        0        0  ...     698     707     715     724      732
3        0        0        0  ...      51      51      51      51       51
4        0        0        0  ...       4       4       4       4        4

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0      426      446      451      471      478
1       35       36       36       36       36
2      741      751      760      767      777
3       51       51       51       51       51
4        5        5        6        6        6

[5 rows x 150 columns]

In [51]:
deaths_data_frame.values

array([[nan, 'Afghanistan', 33.0, ..., 451, 471, 478],
       [nan, 'Albania', 41.1533, ..., 36, 36, 36],
       [nan, 'Algeria', 28.0339, ..., 760, 767, 777],
       ...,
       [nan, 'Comoros', -11.6455, ..., 2, 2, 2],
       [nan, 'Tajikistan', 38.861034, ..., 50, 50, 50],
       [nan, 'Lesotho', -29.609988, ..., 0, 0, 0]], dtype=object)

In [53]:
deaths_data_frame.head
# İlk birkaç satırı gözlemleme

<bound method NDFrame.head of     Province/State         Country/Region        Lat       Long  1/22/20  \
0              NaN            Afghanistan  33.000000  65.000000        0
1              NaN                Albania  41.153300  20.168300        0
2              NaN                Algeria  28.033900   1.659600        0
3              NaN                Andorra  42.506300   1.521800        0
4              NaN                 Angola -11.202700  17.873900        0
..             ...                    ...        ...        ...      ...
261            NaN  Sao Tome and Principe   0.186360   6.613081        0
262            NaN                  Yemen  15.552727  48.516388        0
263            NaN                Comoros -11.645500  43.333300        0
264            NaN             Tajikistan  38.861034  71.276093        0
265            NaN                Lesotho -29.609988  28.233608        0

     1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  \
0          0        0        0        0        0  ...     327     357     369
1          0        0        0        0        0  ...      34      34      34
2          0        0        0        0        0  ...     698     707     715
3          0        0        0        0        0  ...      51      51      51
4          0        0        0        0        0  ...       4       4       4
..       ...      ...      ...      ...      ...  ...     ...     ...     ...
261        0        0        0        0        0  ...      12      12      12
262        0        0        0        0        0  ...     111     112     112
263        0        0        0        0        0  ...       2       2       2
264        0        0        0        0        0  ...      48      48      48
265        0        0        0        0        0  ...       0       0       0

     6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0       384      405      426      446      451      471      478
1        34       34       35       36       36       36       36
2       724      732      741      751      760      767      777
3        51       51       51       51       51       51       51
4         4        4        5        5        6        6        6
..      ...      ...      ...      ...      ...      ...      ...
261      12       12       12       12       12       12       12
262     127      129      136      139      160      164      208
263       2        2        2        2        2        2        2
264      48       48       49       49       50       50       50
265       0        0        0        0        0        0        0

[266 rows x 150 columns]>

In [55]:
deaths_data_frame.loc[0]
# Belirli bir satırı seçme (satır indeksi kullanarak)

Province/State            NaN
Country/Region    Afghanistan
Lat                      33.0
Long                     65.0
1/22/20                     0
                     ...
6/11/20                   426
6/12/20                   446
6/13/20                   451
6/14/20                   471
6/15/20                   478
Name: 0, Length: 150, dtype: object

In [52]:
# İki sütuna göre gruplama
grouped_multi = deaths_data_frame.groupby(['Country/Region', 'Long'])

In [57]:
# Grupları gözlemleme
for name, group in grouped_multi:
    print(f"Group: {name}")

Group: ('Afghanistan', 65.0)
Group: ('Albania', 20.1683)
Group: ('Algeria', 1.6596)
Group: ('Andorra', 1.5218)
Group: ('Angola', 17.8739)
Group: ('Antigua and Barbuda', -61.7964)
Group: ('Argentina', -63.6167)
Group: ('Armenia', 45.0382)
Group: ('Australia', 115.8605)
Group: ('Australia', 130.8456)
Group: ('Australia', 138.6007)
Group: ('Australia', 144.9631)
Group: ('Australia', 145.9707)
Group: ('Australia', 149.0124)
Group: ('Australia', 151.2093)
Group: ('Australia', 153.4)
Group: ('Austria', 14.5501)
Group: ('Azerbaijan', 47.5769)
Group: ('Bahamas', -77.3963)
Group: ('Bahrain', 50.55)
Group: ('Bangladesh', 90.3563)
Group: ('Barbados', -59.5432)
Group: ('Belarus', 27.9534)
Group: ('Belgium', 4.0)
Group: ('Belize', -59.5432)
Group: ('Benin', 2.3158)
Group: ('Bhutan', 90.4336)
Group: ('Bolivia', -63.5887)
Group: ('Bosnia and Herzegovina', 17.6791)
Group: ('Botswana', 24.6849)
Group: ('Brazil', -51.9253)
Group: ('Brunei', 114.7277)
Group: ('Bulgaria', 25.4858)
Group: ('Burkina Faso', -1.5616)
Group: ('Burma', 95.956)
Group: ('Burundi', 29.9189)
Group: ('Cabo Verde', -23.0418)
Group: ('Cambodia', 104.9167)
Group: ('Cameroon', 11.5021)
Group: ('Canada', -135.0)
Group: ('Canada', -124.8457)
Group: ('Canada', -123.1207)
Group: ('Canada', -122.6655)
Group: ('Canada', -116.5765)
Group: ('Canada', -106.4509)
Group: ('Canada', -98.8139)
Group: ('Canada', -85.3232)
Group: ('Canada', -73.5491)
Group: ('Canada', -66.4619)
Group: ('Canada', -63.7443)
Group: ('Canada', -63.4168)
Group: ('Canada', -57.6604)
Group: ('Canada', 0.0)
Group: ('Central African Republic', 20.9394)
Group: ('Chad', 18.7322)
Group: ('Chile', -71.543)
Group: ('China', 85.2401)
Group: ('China', 88.0924)
Group: ('China', 95.9956)
Group: ('China', 101.0583)
Group: ('China', 101.487)
Group: ('China', 102.7103)
Group: ('China', 106.1655)
Group: ('China', 106.8748)
Group: ('China', 107.874)
Group: ('China', 108.7881)
Group: ('China', 108.8701)
Group: ('China', 109.7453)
Group: ('China', 111.7088)
Group: ('China', 112.2707)
Group: ('China', 112.2922)
Group: ('China', 113.4244)
Group: ('China', 113.55)
Group: ('China', 113.614)
Group: ('China', 113.9448)
Group: ('China', 114.2)
Group: ('China', 115.7221)
Group: ('China', 116.1306)
Group: ('China', 116.4142)
Group: ('China', 117.2264)
Group: ('China', 117.323)
Group: ('China', 117.9874)
Group: ('China', 118.1498)
Group: ('China', 119.455)
Group: ('China', 120.0934)
Group: ('China', 121.4491)
Group: ('China', 122.6085)
Group: ('China', 126.1923)
Group: ('China', 127.7615)
Group: ('Colombia', -74.2973)
Group: ('Comoros', 43.3333)
Group: ('Congo (Brazzaville)', 21.7587)
Group: ('Congo (Kinshasa)', 21.7587)
Group: ('Costa Rica', -83.7534)
Group: ("Cote d'Ivoire", -5.5471)
Group: ('Croatia', 15.2)
Group: ('Cuba', -80.0)
Group: ('Cyprus', 33.4299)
Group: ('Czechia', 15.473)
Group: ('Denmark', -42.6043)
Group: ('Denmark', -6.9118)
Group: ('Denmark', 9.5018)
Group: ('Diamond Princess', 0.0)
Group: ('Djibouti', 42.5903)
Group: ('Dominica', -61.371)
Group: ('Dominican Republic', -70.1627)
Group: ('Ecuador', -78.1834)
Group: ('Egypt', 30.0)
Group: ('El Salvador', -88.8965)
Group: ('Equatorial Guinea', 10.0)
Group: ('Eritrea', 39.7823)
Group: ('Estonia', 25.0136)
Group: ('Eswatini', 31.4659)
Group: ('Ethiopia', 40.4897)
Group: ('Fiji', 178.065)
Group: ('Finland', 26.0)
Group: ('France', -63.0501)
Group: ('France', -62.8333)
Group: ('France', -61.5833)
Group: ('France', -61.0242)
Group: ('France', -56.3159)
Group: ('France', -53.1258)
Group: ('France', 2.2137)
Group: ('France', 45.1662)
Group: ('France', 55.2471)
Group: ('France', 149.4068)
Group: ('France', 165.618)
Group: ('Gabon', 11.6094)
Group: ('Gambia', -15.3101)
Group: ('Georgia', 43.3569)
Group: ('Germany', 9.0)
Group: ('Ghana', -1.0232)
Group: ('Greece', 21.8243)
Group: ('Grenada', -61.679)
Group: ('Guatemala', -90.2308)
Group: ('Guinea', -9.6966)
Group: ('Guinea-Bissau', -15.1804)
Group: ('Guyana', -58.75)
Group: ('Haiti', -72.2852)
Group: ('Holy See', 12.4534)
Group: ('Honduras', -86.2419)
Group: ('Hungary', 19.5033)
Group: ('Iceland', -19.0208)
Group: ('India', 78.0)
Group: ('Indonesia', 113.9213)
Group: ('Iran', 53.0)
Group: ('Iraq', 44.0)
Group: ('Ireland', -7.6921)
Group: ('Israel', 35.0)
Group: ('Italy', 12.0)
Group: ('Jamaica', -77.2975)
Group: ('Japan', 138.0)
Group: ('Jordan', 36.51)
Group: ('Kazakhstan', 66.9237)
Group: ('Kenya', 37.9062)
Group: ('Korea, South', 128.0)
Group: ('Kosovo', 20.902977)
Group: ('Kuwait', 47.75)
Group: ('Kyrgyzstan', 74.7661)
Group: ('Laos', 102.495496)
Group: ('Latvia', 24.6032)
Group: ('Lebanon', 35.8623)
Group: ('Lesotho', 28.233608)
Group: ('Liberia', -9.4295)
Group: ('Libya', 17.228331)
Group: ('Liechtenstein', 9.55)
Group: ('Lithuania', 23.8813)
Group: ('Luxembourg', 6.1296)
Group: ('MS Zaandam', 0.0)
Group: ('Madagascar', 46.8691)
Group: ('Malawi', 34.301525)
Group: ('Malaysia', 112.5)
Group: ('Maldives', 73.2207)
Group: ('Mali', -3.996166000000001)
Group: ('Malta', 14.3754)
Group: ('Mauritania', 10.9408)
Group: ('Mauritius', 57.5)
Group: ('Mexico', -102.5528)
Group: ('Moldova', 28.3699)
Group: ('Monaco', 7.4167)
Group: ('Mongolia', 103.8467)
Group: ('Montenegro', 19.3)
Group: ('Morocco', -7.0926)
Group: ('Mozambique', 35.529562)
Group: ('Namibia', 18.4904)
Group: ('Nepal', 84.25)
Group: ('Netherlands', -70.0358)
Group: ('Netherlands', -68.99)
Group: ('Netherlands', -68.2385)
Group: ('Netherlands', -63.0548)
Group: ('Netherlands', 5.2913)
Group: ('New Zealand', 174.886)
Group: ('Nicaragua', -85.2072)
Group: ('Niger', 8.0817)
Group: ('Nigeria', 8.6753)
Group: ('North Macedonia', 21.7453)
Group: ('Norway', 8.4689)
Group: ('Oman', 57.0)
Group: ('Pakistan', 69.3451)
Group: ('Panama', -80.7821)
Group: ('Papua New Guinea', 143.9555)
Group: ('Paraguay', -58.4438)
Group: ('Peru', -75.0152)
Group: ('Philippines', 122.0)
Group: ('Poland', 19.1451)
Group: ('Portugal', -8.2245)
Group: ('Qatar', 51.1839)
Group: ('Romania', 24.9668)
Group: ('Russia', 90.0)
Group: ('Rwanda', 29.8739)
Group: ('Saint Kitts and Nevis', -62.782998)
Group: ('Saint Lucia', -60.9789)
Group: ('Saint Vincent and the Grenadines', -61.2872)
Group: ('San Marino', 12.4578)
Group: ('Sao Tome and Principe', 6.613081)
Group: ('Saudi Arabia', 45.0)
Group: ('Senegal', -14.4524)
Group: ('Serbia', 21.0059)
Group: ('Seychelles', 55.492)
Group: ('Sierra Leone', -11.779889)
Group: ('Singapore', 103.8333)
Group: ('Slovakia', 19.699)
Group: ('Slovenia', 14.9955)
Group: ('Somalia', 46.1996)
Group: ('South Africa', 22.9375)
Group: ('South Sudan', 31.307)
Group: ('Spain', -4.0)
Group: ('Sri Lanka', 81.0)
Group: ('Sudan', 30.2176)
Group: ('Suriname', -56.0278)
Group: ('Sweden', 16.0)
Group: ('Switzerland', 8.2275)
Group: ('Syria', 38.99681500000001)
Group: ('Taiwan*', 121.0)
Group: ('Tajikistan', 71.276093)
Group: ('Tanzania', 34.8888)
Group: ('Thailand', 101.0)
Group: ('Timor-Leste', 125.727539)
Group: ('Togo', 0.8248)
Group: ('Trinidad and Tobago', -61.2225)
Group: ('Tunisia', 9.0)
Group: ('Turkey', 35.2433)
Group: ('US', -95.7129)
Group: ('Uganda', 32.0)
Group: ('Ukraine', 31.1656)
Group: ('United Arab Emirates', 54.0)
Group: ('United Kingdom', -81.2546)
Group: ('United Kingdom', -71.7979)
Group: ('United Kingdom', -64.7505)
Group: ('United Kingdom', -64.64)
Group: ('United Kingdom', -63.0686)
Group: ('United Kingdom', -62.1874)
Group: ('United Kingdom', -59.5236)
Group: ('United Kingdom', -5.3536)
Group: ('United Kingdom', -4.5481)
Group: ('United Kingdom', -3.4360000000000004)
Group: ('United Kingdom', -2.3644)
Group: ('Uruguay', -55.7658)
Group: ('Uzbekistan', 64.5853)
Group: ('Venezuela', -66.5897)
Group: ('Vietnam', 108.0)
Group: ('West Bank and Gaza', 35.2332)
Group: ('Western Sahara', -12.8858)
Group: ('Yemen', 48.516388)
Group: ('Zambia', 28.2833)
Group: ('Zimbabwe', 30.0)

In [56]:
deaths_data_frame.transpose()

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,New South Wales,...,NaN,Falkland Islands (Malvinas),Saint Pierre and Miquelon,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,Malawi,United Kingdom,France,South Sudan,Western Sahara,Sao Tome and Principe,Yemen,Comoros,Tajikistan,Lesotho
Lat,33.0,41.1533,28.0339,42.5063,-11.2027,17.0608,-38.4161,40.0691,-35.4735,-33.8688,...,-13.254308,-51.7963,46.8852,6.877,24.2155,0.18636,15.552727,-11.6455,38.861034,-29.609988
Long,65.0,20.1683,1.6596,1.5218,17.8739,-61.7964,-63.6167,45.0382,149.0124,151.2093,...,34.301525,-59.5236,-56.3159,31.307,-12.8858,6.613081,48.516388,43.3333,71.276093,28.233608
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6/11/20,426,35,741,51,5,3,765,245,3,48,...,4,0,0,24,1,12,136,2,49,0
6/12/20,446,36,751,51,5,3,785,258,3,48,...,4,0,0,24,1,12,139,2,49,0
6/13/20,451,36,760,51,6,3,815,264,3,48,...,5,0,0,27,1,12,160,2,50,0
6/14/20,471,36,767,51,6,3,833,269,3,48,...,6,0,0,27,1,12,164,2,50,0
6/15/20,478,36,777,51,6,3,854,285,3,48,...,6,0,0,27,1,12,208,2,50,0

In [58]:
#concat ile Veri seti birleştirildi 
connect_data_frame = pd.concat([infected_data_frame, recovered_data_frame, deaths_data_frame], keys=["Infected", "Recovered", "Deaths"])
print(connect_data_frame)

             Province/State         Country/Region        Lat       Long  \
Infected 0              NaN            Afghanistan  33.000000  65.000000
         1              NaN                Albania  41.153300  20.168300
         2              NaN                Algeria  28.033900   1.659600
         3              NaN                Andorra  42.506300   1.521800
         4              NaN                 Angola -11.202700  17.873900
...                     ...                    ...        ...        ...
Deaths   261            NaN  Sao Tome and Principe   0.186360   6.613081
         262            NaN                  Yemen  15.552727  48.516388
         263            NaN                Comoros -11.645500  43.333300
         264            NaN             Tajikistan  38.861034  71.276093
         265            NaN                Lesotho -29.609988  28.233608

              1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  \
Infected 0          0        0        0        0        0        0  ...
         1          0        0        0        0        0        0  ...
         2          0        0        0        0        0        0  ...
         3          0        0        0        0        0        0  ...
         4          0        0        0        0        0        0  ...
...               ...      ...      ...      ...      ...      ...  ...
Deaths   261        0        0        0        0        0        0  ...
         262        0        0        0        0        0        0  ...
         263        0        0        0        0        0        0  ...
         264        0        0        0        0        0        0  ...
         265        0        0        0        0        0        0  ...

              6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  \
Infected 0     19551   20342   20917   21459    22142    22890    23546
         1      1232    1246    1263    1299     1341     1385     1416
         2     10050   10154   10265   10382    10484    10589    10698
         3       852     852     852     852      852      852      853
         4        88      91      92      96      113      118      130
...              ...     ...     ...     ...      ...      ...      ...
Deaths   261      12      12      12      12       12       12       12
         262     111     112     112     127      129      136      139
         263       2       2       2       2        2        2        2
         264      48      48      48      48       48       49       49
         265       0       0       0       0        0        0        0

              6/13/20  6/14/20  6/15/20
Infected 0      24102    24766    25527
         1       1464     1521     1590
         2      10810    10919    11031
         3        853      853      853
         4        138      140      142
...               ...      ...      ...
Deaths   261       12       12       12
         262      160      164      208
         263        2        2        2
         264       50       50       50
         265        0        0        0

[785 rows x 150 columns]

In [59]:
# Province/State sütunundaki None değerler fillna ile doldurulma
connect_data_frame["Province/State"].fillna("--", inplace=True)# inplace false ise orjinal DataFrame değişmeden kalır ve değişiklikler yeni bir DataFrame'e uygulanır
print(connect_data_frame)

             Province/State         Country/Region        Lat       Long  \
Infected 0               --            Afghanistan  33.000000  65.000000
         1               --                Albania  41.153300  20.168300
         2               --                Algeria  28.033900   1.659600
         3               --                Andorra  42.506300   1.521800
         4               --                 Angola -11.202700  17.873900
...                     ...                    ...        ...        ...
Deaths   261             --  Sao Tome and Principe   0.186360   6.613081
         262             --                  Yemen  15.552727  48.516388
         263             --                Comoros -11.645500  43.333300
         264             --             Tajikistan  38.861034  71.276093
         265             --                Lesotho -29.609988  28.233608

              1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  \
Infected 0          0        0        0        0        0        0  ...
         1          0        0        0        0        0        0  ...
         2          0        0        0        0        0        0  ...
         3          0        0        0        0        0        0  ...
         4          0        0        0        0        0        0  ...
...               ...      ...      ...      ...      ...      ...  ...
Deaths   261        0        0        0        0        0        0  ...
         262        0        0        0        0        0        0  ...
         263        0        0        0        0        0        0  ...
         264        0        0        0        0        0        0  ...
         265        0        0        0        0        0        0  ...

              6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  \
Infected 0     19551   20342   20917   21459    22142    22890    23546
         1      1232    1246    1263    1299     1341     1385     1416
         2     10050   10154   10265   10382    10484    10589    10698
         3       852     852     852     852      852      852      853
         4        88      91      92      96      113      118      130
...              ...     ...     ...     ...      ...      ...      ...
Deaths   261      12      12      12      12       12       12       12
         262     111     112     112     127      129      136      139
         263       2       2       2       2        2        2        2
         264      48      48      48      48       48       49       49
         265       0       0       0       0        0        0        0

              6/13/20  6/14/20  6/15/20
Infected 0      24102    24766    25527
         1       1464     1521     1590
         2      10810    10919    11031
         3        853      853      853
         4        138      140      142
...               ...      ...      ...
Deaths   261       12       12       12
         262      160      164      208
         263        2        2        2
         264       50       50       50
         265        0        0        0

[785 rows x 150 columns]

In [64]:
connect_data_grouped=connect_data_frame.groupby('Province/State')
for name, group in connect_data_grouped:
  print(group)

             Province/State         Country/Region        Lat       Long  \
Infected 0               --            Afghanistan  33.000000  65.000000
         1               --                Albania  41.153300  20.168300
         2               --                Algeria  28.033900   1.659600
         3               --                Andorra  42.506300   1.521800
         4               --                 Angola -11.202700  17.873900
...                     ...                    ...        ...        ...
Deaths   261             --  Sao Tome and Principe   0.186360   6.613081
         262             --                  Yemen  15.552727  48.516388
         263             --                Comoros -11.645500  43.333300
         264             --             Tajikistan  38.861034  71.276093
         265             --                Lesotho -29.609988  28.233608

              1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  \
Infected 0          0        0        0        0        0        0  ...
         1          0        0        0        0        0        0  ...
         2          0        0        0        0        0        0  ...
         3          0        0        0        0        0        0  ...
         4          0        0        0        0        0        0  ...
...               ...      ...      ...      ...      ...      ...  ...
Deaths   261        0        0        0        0        0        0  ...
         262        0        0        0        0        0        0  ...
         263        0        0        0        0        0        0  ...
         264        0        0        0        0        0        0  ...
         265        0        0        0        0        0        0  ...

              6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  \
Infected 0     19551   20342   20917   21459    22142    22890    23546
         1      1232    1246    1263    1299     1341     1385     1416
         2     10050   10154   10265   10382    10484    10589    10698
         3       852     852     852     852      852      852      853
         4        88      91      92      96      113      118      130
...              ...     ...     ...     ...      ...      ...      ...
Deaths   261      12      12      12      12       12       12       12
         262     111     112     112     127      129      136      139
         263       2       2       2       2        2        2        2
         264      48      48      48      48       48       49       49
         265       0       0       0       0        0        0        0

              6/13/20  6/14/20  6/15/20
Infected 0      24102    24766    25527
         1       1464     1521     1590
         2      10810    10919    11031
         3        853      853      853
         4        138      140      142
...               ...      ...      ...
Deaths   261       12       12       12
         262      160      164      208
         263        2        2        2
         264       50       50       50
         265        0        0        0

[556 rows x 150 columns]
            Province/State Country/Region      Lat      Long  1/22/20  \
Infected 35        Alberta         Canada  53.9333 -116.5765        0
Deaths   35        Alberta         Canada  53.9333 -116.5765        0

             1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  \
Infected 35        0        0        0        0        0  ...    7138    7138
Deaths   35        0        0        0        0        0  ...     146     146

             6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  \
Infected 35    7202    7229     7276     7316     7346     7383     7433
Deaths   35     149     151      151      149      149      150      150

             6/15/20
Infected 35     7453
Deaths   35      151

[2 rows x 150 columns]
              Province/State  Country/Region      Lat     Long  1/22/20  \
Infected  248       Anguilla  United Kingdom  18.2206 -63.0686        0
Recovered 235       Anguilla  United Kingdom  18.2206 -63.0686        0
Deaths    248       Anguilla  United Kingdom  18.2206 -63.0686        0

               1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  248        0        0        0        0        0  ...       3
Recovered 235        0        0        0        0        0  ...       3
Deaths    248        0        0        0        0        0  ...       0

               6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  248       3       3       3        3        3        3        3
Recovered 235       3       3       3        3        3        3        3
Deaths    248       0       0       0        0        0        0        0

               6/14/20  6/15/20
Infected  248        3        3
Recovered 235        3        3
Deaths    248        0        0

[3 rows x 150 columns]
             Province/State Country/Region      Lat      Long  1/22/20  \
Infected  49          Anhui          China  31.8257  117.2264        1
Recovered 40          Anhui          China  31.8257  117.2264        0
Deaths    49          Anhui          China  31.8257  117.2264        0

              1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  49        9       15       39       60       70  ...     991
Recovered 40        0        0        0        0        0  ...     985
Deaths    49        0        0        0        0        0  ...       6

              6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  49     991     991     991      991      991      991      991
Recovered 40     985     985     985      985      985      985      985
Deaths    49       6       6       6        6        6        6        6

              6/14/20  6/15/20
Infected  49      991      991
Recovered 40      985      985
Deaths    49        6        6

[3 rows x 150 columns]
              Province/State Country/Region      Lat     Long  1/22/20  \
Infected  166          Aruba    Netherlands  12.5186 -70.0358        0
Recovered 163          Aruba    Netherlands  12.5186 -70.0358        0
Deaths    166          Aruba    Netherlands  12.5186 -70.0358        0

               1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  166        0        0        0        0        0  ...     101
Recovered 163        0        0        0        0        0  ...      98
Deaths    166        0        0        0        0        0  ...       3

               6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  166     101     101     101      101      101      101      101
Recovered 163      98      98      98       98       98       98       98
Deaths    166       3       3       3        3        3        3        3

               6/14/20  6/15/20
Infected  166      101      101
Recovered 163       98       98
Deaths    166        3        3

[3 rows x 150 columns]
                           Province/State Country/Region      Lat      Long  \
Infected  8  Australian Capital Territory      Australia -35.4735  149.0124
Recovered 8  Australian Capital Territory      Australia -35.4735  149.0124
Deaths    8  Australian Capital Territory      Australia -35.4735  149.0124

             1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  \
Infected  8        0        0        0        0        0        0  ...
Recovered 8        0        0        0        0        0        0  ...
Deaths    8        0        0        0        0        0        0  ...

             6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  \
Infected  8     108     108     108     108      108      108      108
Recovered 8     104     104     104     104      104      104      104
Deaths    8       3       3       3       3        3        3        3

             6/13/20  6/14/20  6/15/20
Infected  8      108      108      108
Recovered 8      104      104      104
Deaths    8        3        3        3

[3 rows x 150 columns]
             Province/State Country/Region      Lat      Long  1/22/20  \
Infected  50        Beijing          China  40.1824  116.4142       14
Recovered 41        Beijing          China  40.1824  116.4142        0
Deaths    50        Beijing          China  40.1824  116.4142        0

              1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  50       22       36       41       68       80  ...     594
Recovered 41        0        1        2        2        2  ...     583
Deaths    50        0        0        0        0        1  ...       9

              6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  50     594     594     594      594      595      601      637
Recovered 41     583     584     584      584      584      584      584
Deaths    50       9       9       9        9        9        9        9

              6/14/20  6/15/20
Infected  50      673      700
Recovered 41      584      584
Deaths    50        9        9

[3 rows x 150 columns]
              Province/State  Country/Region      Lat     Long  1/22/20  \
Infected  217        Bermuda  United Kingdom  32.3078 -64.7505        0
Recovered 217        Bermuda  United Kingdom  32.3078 -64.7505        0
Deaths    217        Bermuda  United Kingdom  32.3078 -64.7505        0

               1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  217        0        0        0        0        0  ...     141
Recovered 217        0        0        0        0        0  ...     114
Deaths    217        0        0        0        0        0  ...       9

               6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  217     141     141     141      141      141      141      142
Recovered 217     114     120     120      125      127      127      127
Deaths    217       9       9       9        9        9        9        9

               6/14/20  6/15/20
Infected  217      142      144
Recovered 217      127      127
Deaths    217        9        9

[3 rows x 150 columns]
                                 Province/State Country/Region      Lat  \
Infected  255  Bonaire, Sint Eustatius and Saba    Netherlands  12.1784
Recovered 242  Bonaire, Sint Eustatius and Saba    Netherlands  12.1784
Deaths    255  Bonaire, Sint Eustatius and Saba    Netherlands  12.1784

                  Long  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  \
Infected  255 -68.2385        0        0        0        0        0        0
Recovered 242 -68.2385        0        0        0        0        0        0
Deaths    255 -68.2385        0        0        0        0        0        0

               ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  \
Infected  255  ...       7       7       7       7        7        7        7
Recovered 242  ...       7       7       7       7        7        7        7
Deaths    255  ...       0       0       0       0        0        0        0

               6/13/20  6/14/20  6/15/20
Infected  255        7        7        7
Recovered 242        7        7        7
Deaths    255        0        0        0

[3 rows x 150 columns]
               Province/State Country/Region      Lat      Long  1/22/20  \
Infected 36  British Columbia         Canada  49.2827 -123.1207        0
Deaths   36  British Columbia         Canada  49.2827 -123.1207        0

             1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  \
Infected 36        0        0        0        0        0  ...    2632    2632
Deaths   36        0        0        0        0        0  ...     167     167

             6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  \
Infected 36    2659    2669     2680     2694     2709     2709     2709
Deaths   36     167     167      167      167      168      168      168

             6/15/20
Infected 36     2745
Deaths   36      168

[2 rows x 150 columns]
                       Province/State  Country/Region      Lat   Long  \
Infected  249  British Virgin Islands  United Kingdom  18.4207 -64.64
Recovered 236  British Virgin Islands  United Kingdom  18.4207 -64.64
Deaths    249  British Virgin Islands  United Kingdom  18.4207 -64.64

               1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  \
Infected  249        0        0        0        0        0        0  ...
Recovered 236        0        0        0        0        0        0  ...
Deaths    249        0        0        0        0        0        0  ...

               6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  \
Infected  249       8       8       8       8        8        8        8
Recovered 236       7       7       7       7        7        7        7
Deaths    249       1       1       1       1        1        1        1

               6/13/20  6/14/20  6/15/20
Infected  249        8        8        8
Recovered 236        7        7        7
Deaths    249        1        1        1

[3 rows x 150 columns]
               Province/State  Country/Region      Lat     Long  1/22/20  \
Infected  218  Cayman Islands  United Kingdom  19.3133 -81.2546        0
Recovered 218  Cayman Islands  United Kingdom  19.3133 -81.2546        0
Deaths    218  Cayman Islands  United Kingdom  19.3133 -81.2546        0

               1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  218        0        0        0        0        0  ...     164
Recovered 218        0        0        0        0        0  ...      93
Deaths    218        0        0        0        0        0  ...       1

               6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  218     164     171     176      180      186      187      187
Recovered 218      93     102     104      107      112      115      115
Deaths    218       1       1       1        1        1        1        1

               6/14/20  6/15/20
Infected  218      187      187
Recovered 218      115      115
Deaths    218        1        1

[3 rows x 150 columns]
                Province/State  Country/Region      Lat    Long  1/22/20  \
Infected  219  Channel Islands  United Kingdom  49.3723 -2.3644        0
Recovered 219  Channel Islands  United Kingdom  49.3723 -2.3644        0
Deaths    219  Channel Islands  United Kingdom  49.3723 -2.3644        0

               1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  219        0        0        0        0        0  ...     563
Recovered 219        0        0        0        0        0  ...     512
Deaths    219        0        0        0        0        0  ...      46

               6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  219     563     564     565      565      565      565      565
Recovered 219     512     512     512      512      512      512      512
Deaths    219      46      46      48       48       48       48       48

               6/14/20  6/15/20
Infected  219      565      568
Recovered 219      512      512
Deaths    219       48       48

[3 rows x 150 columns]
             Province/State Country/Region      Lat     Long  1/22/20  \
Infected  51      Chongqing          China  30.0572  107.874        6
Recovered 42      Chongqing          China  30.0572  107.874        0
Deaths    51      Chongqing          China  30.0572  107.874        0

              1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  \
Infected  51        9       27       57       75      110  ...     579
Recovered 42        0        0        0        0        0  ...     573
Deaths    51        0        0        0        0        0  ...       6

              6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  \
Infected  51     579     579     579      579      579      579      580
Recovered 42     573     573     573      573      573      573      573
Deaths    51       6       6       6        6        6        6        6

              6/14/20  6/15/20
Infected  51      582      582
Recovered 42      573      573
Deaths    51        6        6

[3 rows x 150 columns]
              Province/State Country/Region      Lat   Long  1/22/20  1/23/20  \
Infected  167        Curacao    Netherlands  12.1696 -68.99        0        0
Recovered 164        Curacao    Netherlands  12.1696 -68.99        0        0
Deaths    167        Curacao    Netherlands  12.1696 -68.99        0        0

               1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  \
Infected  167        0        0        0        0  ...      21      21
Recovered 164        0        0        0        0  ...      15      15
Deaths    167        0        0        0        0  ...       1       1

               6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  \
Infected  167      21      21       22       22       22       22       22
Recovered 164      15      15       15       15       15       15       15
Deaths    167       1       1        1        1        1        1        1

               6/15/20
Infected  167       22
Recovered 164       19
Deaths    167        1

[3 rows x 150 columns]
                Province/State Country/Region  Lat  Long  1/22/20  1/23/20  \
Infected 231  Diamond Princess         Canada  0.0   0.0        0        0
Deaths   231  Diamond Princess         Canada  0.0   0.0        0        0

              1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  \
Infected 231        0        0        0        0  ...       0       0       0
Deaths   231        0        0        0        0  ...       1       1       1

              6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
Infected 231       0        0        0        0        0        0        0
Deaths   231       1        1        1        1        1        1        1

[2 rows x 150 columns]
                            Province/State  Country/Region      Lat     Long  \
Infected  257  Falkland Islands (Malvinas)  United Kingdom -51.7963 -59.5236
Recovered 244  Falkland Islands (Malvinas)  United Kingdom -51.7963 -59.5236
Deaths    257  Falkland Islands (Malvinas)  United Kingdom -51.7963 -59.5236

               1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  \
Infected  257        0        0        0        0        0        0  ...
Recovered 244        0        0        0        0        0        0  ...
Deaths    257        0        0        0        0        0        0  ...

               6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  \
Infected  257      13      13      13      13       13       13       13
Recovered 244      13      13      13      13       13       13       13
Deaths    257       0       0       0       0        0        0        0

               6/13/20  6/14/20  6/15/20
Infected  257       13       13       13
Recovered 244       13       13       13
Deaths    257        0        0        0

[3 rows x 150 columns]
             Province/State Country/Region      Lat    Long  1/22/20  1/23/20  \
Infected  92  Faroe Islands        Denmark  61.8926 -6.9118        0        0
Recovered 83  Faroe Islands        Denmark  61.8926 -6.9118        0        0
Deaths    92  Faroe Islands        Denmark  61.8926 -6.9118        0        0

              1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  \
Infected  92        0        0        0        0  ...     187     187     187
Recovered 83        0        0        0        0  ...     187     187     187
Deaths    92        0        0        0        0  ...       0       0       0

              6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
Infected  92     187      187      187      187      187      187      187
Recovered 83     187      187      187      187      187      187      187
Deaths    92       0        0        0        0        0        0        0

[3 rows x 150 columns]
              Province/State Country/Region     Lat     Long  1/22/20  \