# SQLite
- serverless
- raw SQL
creating list for inserting it to db

In [1]:
import random

def random_int():
    return(random.randint(1, 100))

In [2]:
my_list = [
    (random_int(), "apple", "red"),
    (random_int(), "banana", "yellow"),
    (random_int(), "cherry", "red"),
    (random_int(), "date", "brown"),
    (random_int(), "grape", "purple"),
    (random_int(), "kiwi", "brown"),
    (random_int(), "lemon", "yellow"),
    (random_int(), "orange", "orange"),
    (random_int(), "pear", "green"),
    (random_int(), "watermelon", "green")
]

In [3]:
my_list

[(77, 'apple', 'red'),
 (67, 'banana', 'yellow'),
 (84, 'cherry', 'red'),
 (94, 'date', 'brown'),
 (55, 'grape', 'purple'),
 (86, 'kiwi', 'brown'),
 (91, 'lemon', 'yellow'),
 (60, 'orange', 'orange'),
 (9, 'pear', 'green'),
 (10, 'watermelon', 'green')]

basic usage of sqlite 3 - create connection - create cursor object - create a new table - instert my_list data to the new table

In [4]:
import sqlite3

connection = sqlite3.connect("fruits.db")

cursor = connection.cursor()

cursor.execute("CREATE TABLE fruits (amount interger, fruit text, color text)")

cursor.executemany("INSERT INTO fruits VALUES (?,?,?)", my_list)

connection.close()

#### Print database rows

In [8]:
# update script
connection = sqlite3.connect("fruits.db")

cursor = connection.cursor()

cursor.execute("CREATE TABLE fruits (amount interger, fruit text, color text)")

cursor.executemany("INSERT INTO fruits VALUES (?,?,?)", my_list)

for row in cursor.execute("SELECT * FROM fruits"):
    print(row)

connection.close()

(77, 'apple', 'red')
(67, 'banana', 'yellow')
(84, 'cherry', 'red')
(94, 'date', 'brown')
(55, 'grape', 'purple')
(86, 'kiwi', 'brown')
(91, 'lemon', 'yellow')
(60, 'orange', 'orange')
(9, 'pear', 'green')
(10, 'watermelon', 'green')

In [11]:
# add to script: print spesific rows using WHERE

cursor.execute("SELECT * FROM fruits WHERE color=:c", {"c": "green"})
color_search = cursor.fetchall()
print(color_search)

[]

In [ ]:
# create a new table for our db

cursor.execute("CREATE TABLE translates (en_color text, tr_color text)")
cursor.execute("INSERT INTO translates VALUES (?,?)", ("green", "ye≈üil"))
cursor.execute("SELECT * FROM translates WHERE en_color=:c", {"c": "green"})
translate_search = cursor.fetchall()  
print(translate_search)

In [ ]:
# manipulate database

for data in color_search:
    qs = [translate_search[0][1] if value==color_search[0][0] else value for value in data]
    print(qs)

# can use INNER JOIN method

- exercise:add all color translations to table and make query for all data